  /* background image banner */
  #background-img-banner {
    display: flex;
    justify-content: center;
    margin: 2% 8%;
  }
  #background-img-banner img {
    width: 100%;
    max-height: 33em;
  }
