/* cart page */
#cart-container {
    margin: 5% 10em;
    padding: 5% 0;
  }
  
  #cart-container .cart-item {
    display: flex;
  }
  
  #cart-container .cart-info {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  #cart-container .cart-amount {
    display: flex;
    flex: 1;
  }
  
  #cart-container .cart-amount b {
    margin-top: auto;
    display: flex;
    flex: 2;
  }
  
  #cart-container #cart-total {
    margin-top: 5em;
    max-width: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  #cart-container #cart-total button {
    background-color: var(--almost-white);
    color:var(--tinted-black);
    padding: 1em;
    max-width: fit-content;
    margin-top: 10%;
    cursor: pointer;
  }
  
  #cart-container #cart-total button:hover {
    background-color: var(--tinted-black);
    color: var(--almost-white);
  }
  
  #cart-container .cart-item img {
    width: 250px;
    height: 250px;
  }
  /* end of cart page */
  
  @media only screen and (max-width:1020px) {
    #cart-container {
      display: flex;
      flex-direction: column;
      padding: auto;
    }
    
    #cart-container .cart-item {
      display: flex;
      flex-direction: column;
    }
    
    #cart-container .cart-item-img {
      display: flex;
      justify-content: center;
    }
    
    #cart-container .cart-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 1;
    }
    
    #cart-container .cart-amount {
      display: flex;
      flex: 1;
    }
    
    #cart-container .cart-amount b {
      margin-top: auto;
      display: flex;
      flex: 2;
    }
    
    #cart-container #cart-total {
      margin-top: 5em;
      max-width: fit-content;
      position: relative;
      display: flex;
      flex-direction: column;
    }
    
    #cart-container #cart-total button {
      margin: auto;
    }
  }
  